*{
    box-sizing: border-box;
    width:250px;
    
}

section.cardViewSection{
    display:flex;
    flex-direction:column;
}
div.userNickName{
    font-weight: bold;
    align-items: center;
}
div.cardInfo{
    display:flex;
}
div.infoLeft img.feedImg{
    width:30px; height:30px;
    justify-content: flex-start;
}
div.infoRight img.feedImg{
    width:30px; height:30px;
    float:right;

}

div.comment{
    font-size:small;
}

