
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
div.login_container{  /*부모*/
    text-align:center;
    border: 1px solid gray;
    display:flex;
    flex-direction: column;
    width:400px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center; /*부모에게 있는 속성 상속됨*/
    
}
div.instagramText, input.userLogin, input.password, button#loginButton{
    display:table-cell;
    vertical-align:middle;
    
    
    width:200px;
    
}
img.instagramText{
    width:50%; 
    
    margin-bottom: 13%;
    margin-top: 10%;
}
input.userLogin{
    margin-bottom:10px;
    padding:5px;

}
button#loginButton{
    color:gray;
    background-color: dodgerblue;
    justify-content: center;
    margin-bottom: 15%;
    text-align: center;
    width:210px; height: 30px;;
}
footer.joinInsta{ /*부모*/
    text-align:center;
    border: 1px solid gray;
    width:400px;
    justify-content: center;

}
p.join, button.joinBtn{
    display:flex;
    flex-direction: row;
    vertical-align:middle;
    justify-content: center;
}
button.joinBtn{
    color: dodgerblue;
    font-weight:bold;
    background-color: white;
    border:none;
    align-items: right;
}
p.join{
    font-size:small;
    text-align: left;

}