

.container{
    display:flex;
    flex-direction: row;
}
div.profile{/*부모*/
    display:flex;
    
    border: 1px solid gray;
}
div.profileIntro, div.profileUserSetting, div.profileStats{
    display:flex;
    flex-direction: column;
}
h1.profileUserName{
    
    font-weight: normal;
    
} 
div.profileIntro{/*헬로월드 텍스트*/
    border:1px solid cornflowerblue;
    flex-direction: row;
}
div.profileUserSetting{/*프로필편집,이름*/
    display:flex;
    flex-direction:row;
    border:1px solid slateblue;
}
div.profileStats{/*000게시글*/
    display:flex;
    flex-direction: row;
    border:1px solid coral;
}
div.profileStats li{
    display:flex;
    flex-direction: row;
}
button.profileEdit{
    height:20px;
    margin-top: 40px;
    margin-left:10px;
}


p.profileIntroduce{
    font-weight:bold;
    display:flex;
    flex-direction: column;
}

div.gallery{
    display: flex;
}

div.galleryPicture{
    flex-direction: row;
    
}
img.galleryImg, div.galleryPictureInfo{
    width:65%;
    font-size:small;
}
img.galleryImg:hover li.galleryPictureLikes{
    opacity: 1; 
    text-align:center;
    color:white;
    background-color:gray;
    visibility: visible;
}

li.galleryPictureLikes, li.galleryPictureComments{
    /* background-color:gray; */
    list-style: none;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

img.galleryImg{
    position:relative;
    display:inline-block;
    
}
