{%extends 'base.html'%}

{%load static%}
<html>
{%block head%}
    <meta charset="utf-8">
    <title>Instagram</title>
    <link href="{% static 'login.css'%}" rel="stylesheet"/>
    <link href="{% static 'background.css'%}" rel="stylesheet"/>
    <link rel="icon" href="{% static 'icon.png'%}">
{%endblock%}
{%block content%}
    <div class = "login_container">
        
        <img class="instagramText" src="{% static 'logo_text.png'%}" alt="instagramText">

        <form action="{% url 'login' %}" method="POST" >
            {%csrf_token%}
        <input type="text" class="userLogin" placeholder="전화번호, 사용자 이름 또는 이메일" name="username">
        <input type="password" class="userLogin" placeholder="비밀번호" name="password">
        <a id="loginButton" href="{% url 'home' %}">로그인</a>
    </form>
    </div>

    <div>
        <footer class="joinInsta">
            <p class="join">계정이 없으신가요? <a class="joinBtn" href="{%url 'signup' %}">가입하기</a></p>
        </footer>
    </div>
{%endblock%}
