{%extends 'base.html'%}
{%block content%}
<h1>Write Your Blog</h1>

<form action="{% url 'create' %}" method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}
    <p>제목 : <input type="text" name= "title"></p>
    <p>작성자 : <input type="text" name= "writer"></p>
    <p>MEDIA사진: <input type="file" name="image"></p>
    본문 : <textarea name= "body" id="" cols="30" rows="10"></textarea>
    <button type="submit">submit</button>
</form>
{%endblock%}




#GET=데이터를 얻기위한 요청(url에 뜬다.) #POST=데이터를 생성하기위한 요청 #아래토큰을 PSOT방식에서 사용한다.
#enctype=파일을 같이 넘겨주기